In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
data= pd.read_csv("iplauction2023.csv")

In [4]:
data.head()

,name,player style,nationality,base price (in lacs),final price (in lacs),franchise,status
0,Harshit Rana,Bowler,India,NaN,20.0,KKR,RETAINED
1,Ekant Sen,Batter,India,20.0,NaN,NaN,UNSOLD
2,Wayne Parnell,Allrounder,South Africa,75.0,NaN,NaN,UNSOLD
3,Shakib Al Hasan,Allrounder,Bangladesh,150.0,150.0,KKR,SOLD
4,Joe Root,Batter,England,100.0,100.0,RR,SOLD

In [5]:
data.tail()

,name,player style,nationality,base price (in lacs),final price (in lacs),franchise,status
304,MS Dhoni,WK-Batter,India,NaN,1200.0,CSK,RETAINED
305,Moeen Ali,Allrounder,England,NaN,800.0,CSK,RETAINED
306,Ruturaj Gaikwad,Batter,India,NaN,600.0,CSK,RETAINED
307,Rishabh Pant,WK-Batter,India,NaN,1600.0,DC,RETAINED
308,Axar Patel,Allrounder,India,NaN,900.0,DC,RETAINED

In [7]:
data.columns

Index(['name', 'player style', 'nationality', 'base price (in lacs)',
       'final price (in lacs)', 'franchise', 'status'],
      dtype='object')

In [10]:
data.shape

(309, 7)

In [11]:
data.dtypes

name                      object
player style              object
nationality               object
base price (in lacs)     float64
final price (in lacs)    float64
franchise                 object
status                    object
dtype: object

In [12]:
data.nunique()

name                     309
player style               4
nationality               14
base price (in lacs)       8
final price (in lacs)     67
franchise                 10
status                     3
dtype: int64

In [ ]:
data